extends ../templates/template.pug
block content

  section.hero
    .container
      .hero__inner
        .hero__info
          h1.hero__title.t-h1
            span Человеческий
            | Онлайн переводчик
          .hero__paragraph
            b.hero__subtitle Получить профессиональный перевод теперь так же просто как вызвать такси
            p.hero__text Etter - онлайн переводчик, в котором перевод осуществяется людьми, а не программой. Мы как гугл переводчик, только у нас переводят люди. Вы можете получить результат уже через 15 минут, это реально, просто попробуйте!
            
          .hero__buttons
            +btn({ text: 'Рассчитать стоимость' })
            +btn({ text: 'О нас', isLink: true }).btn--outline
          
        .hero__img
          img(src="/assets/img/svg/hero.svg" alt="Hero")

  section.steps
    -
      var acc = [
        { title: 'Добавьте текст или документ', text: 'После выбора языка вы сразу увидите цену и время на перевод.' },
        { title: 'Зарегистрируйтесь', text: 'Регистрация по номеру телефона или соц. сеть займет масимум 2 минуты' },
        { title: 'Дождитесь вашего перевода', text: 'После публикации ваш заказ будет доступен для отклика всем перводчикам в общей ленте заказов, первый откликнувшийся начнёт перевод незамедлительно' },
        { title: 'Получите фрагмент перевода', text: 'Вы сможете ознакомиться с фрагментом переведенного текста' },
        { title: 'Оплата', text: 'После оплаты вам будет доступен весь текст' },
      ];
    .container
      .steps__wrap
        .steps__desktop
          .steps__inner
            .steps__text
              h2.steps__title.t-h2 Как это работает?
              .steps__acc
                ul.accordion-container.js-accordion
                  each item, i in acc
                    +accordion-item(item.title, i+1)
                      p= item.text

            .steps__slider.img
              ul.js-slider-steps
                each item in acc
                  li
                    .steps__slide.img__i
                      img.img__i(src="/assets/img/steps-1.png" alt="#")

        .steps__mob
          h2.steps__title.t-h2 Как это работает?
          .steps__acc
            ul.accordion-container.js-accordion
              each item, i in acc
                +accordion-item(item.title, i+1)(class="active")
                  p= item.text

          .steps__mob-slider
            .swiper-container.js-slider-steps-mob
              .swiper-wrapper
                .swiper-slide
                  .steps__mob-slide
                    img(src="/assets/img/steps-mob-1.png" alt="#")
                .swiper-slide
                  .steps__mob-slide
                    img(src="/assets/img/steps-mob-2.png" alt="#")
                .swiper-slide
                  .steps__mob-slide
                    img(src="/assets/img/steps-mob-1.png" alt="#")
                .swiper-slide
                  .steps__mob-slide
                    img(src="/assets/img/steps-mob-2.png" alt="#")
                .swiper-slide
                  .steps__mob-slide
                    img(src="/assets/img/steps-mob-1.png" alt="#")

  section.cta
    .container
      .cta__inner
        .cta__img
          img(src="/assets/img/cta.png" alt="CTA")
        .cta__text
          h2.cta__title.t-h2
            span Бюро переводов делают долго и дорого? 
            | Машинный перевод не справляется?
          p Тогда воспользуйтесь нашим сервисом. Это так же просто как вызвать такси. 
          +btn({ text: 'Рассчитать стоимость' })
  
  section.steps.steps--reverse
    -
      var acc = [
        { title: 'Общайтесь с переводчиком напрямую', text: 'Если вы закажете перевод документа, вам будет доступен чат с переводчиком, там он сможет задать вам уточняющие вопросы, а вы дать свои комментарии' },
        { title: 'Экспресс-перевод', text: 'Добавьте свой текст до 4000 символов и дождитесь перевода. Перводчики-партнеры смогут перевести ваш текст даже с телефона, в любом удобном для них месте. Это позволяет вам получить перевод практически моментально.' },
        { title: 'Удобная работа с несколькими заказами', text: 'Легко переключайтесь между различными заказами и поддерживайте переписку с переводчиками' }
      ];
    .container
      .steps__wrap
        .steps__desktop
          .steps__inner
            .steps__text
              h2.steps__title.t-h2
                span Уникальные
                | возможности
              .steps__acc
                ul.accordion-container.js-accordion
                  each item, i in acc
                    +accordion-item(item.title, i+1)
                      p= item.text

            .steps__slider.img
              ul.js-slider-steps
                each item, i in acc
                  li
                    .steps__slide.img__i
                      img.img__i(src=`/assets/img/steps-${i+2}.png` alt="#")

        .steps__mob
          h2.steps__title.t-h2
            span Уникальные
            | возможности
          .steps__acc
            ul.accordion-container.js-accordion
              each item, i in acc
                +accordion-item(item.title, i+1)(class="active")
                  p= item.text

          .steps__mob-slider
            .swiper-container.js-slider-steps-mob
              .swiper-wrapper
                .swiper-slide
                  .steps__mob-slide
                    img(src="/assets/img/steps-mob-3.png" alt="#")
                .swiper-slide
                  .steps__mob-slide
                    img(src="/assets/img/steps-mob-4.png" alt="#")
                .swiper-slide
                  .steps__mob-slide
                    img(src="/assets/img/steps-mob-1.png" alt="#")

  section.banner
    .container
      .banner__inner
        .banner__cover

        .banner__text
          h2.banner__title.t-h2
            span Ваш перевод
            | всегда под рукой
          p Оставляйте заказы, следите за статусом и общайтесь с переводчиком через наше веб-приложение

        .banner__img
          img(src="/assets/img/banner.png" alt="Banner")

  section.cards
    .container
      h2.cards__title.t-h2
        span С помощью нас 
        | вы сможете получить

      .cards__wrap
        ul.cards__list
          li
            .card
              img(src="/assets/img/cards-1.png" alt="#")
              .card__inner
                b.card__title Экспресс перевод коротких текстов
                p.card__text Поддерживайте деловую переписку с вашими партнерами из Китая, Америки или любой другой страны.
                +btn({ text: 'Рассчитать стоимость'})
          li
            .card
              img(src="/assets/img/cards-2.png" alt="#")
              .card__inner
                b.card__title Быстрый перевод документов
                p.card__text Профессиональный перевод документов, руководств, веб-сайтов, программного обеспечения и многого другого 
                +btn({ text: 'Рассчитать стоимость'})
          li
            .card
              img(src="/assets/img/cards-3.png" alt="#")
              .card__inner
                b.card__title Проверку качества перевода
                p.card__text Заказжите проверку у Etter, наши профессионалы быстро проверят и исправят ошибки
                +btn({ text: 'Рассчитать стоимость'})

  section.features
    .container
      .features__wrap
        h2.features__title.t-h2
          span Преимущества 
          | переводов с Etter

        .features__list-wrap
          ul.features__list
            li
              .feature
                img(src="/assets/img/svg/features-1.svg" alt="#")
                b.feature__title Быстро
                p.feature__text Ваш перевод моментально уходит в работу. На работу выделяется ограниченое кол-во времени, а переводчики работают по таймеру.
            li
              .feature
                img(src="/assets/img/svg/features-2.svg" alt="#")
                b.feature__title Доступно
                p.feature__text Мы избавились от всех издержек традиционных бюро переводов, поэтому у нас так дешево
            li
              .feature
                img(src="/assets/img/svg/features-3.svg" alt="#")
                b.feature__title Качественно
                p.feature__text Все переводчики-партнеры Etter проходят многоуровневое тестирование, прежде чем получить доступ к системе.
            li
              .feature
                img(src="/assets/img/svg/features-4.svg" alt="#")
                b.feature__title Три доступных языка
                p.feature__text Переводите с китайского на русский или с английского на китайский. Скоро будет больше, мы только начали свой путь.
          
        +btn({ text: 'Рассчитать стоимость'})

  section.translator
    .translator__desktop
      h2.translator__title.t-h2 Начните прямо сейчас
      img(src="/assets/img/translator.png" alt="#")

    .translator__mob
      .container
        h2.translator__title.t-h2 Что вам перевести?
        .translator__cards
          a.translator__card(href="#")
            img(src="/assets/img/cards-2.png", alt="#")
            .translator__card-text
              b.translator__card-title
                img(src="/assets/img/svg/google.svg", alt="Google")
                | документ
              p Документы, таблицы, дипломы, техническая документация и т.п
          a.translator__card(href="#")
            img(src="/assets/img/cards-1.png", alt="#")
            .translator__card-text
              b.translator__card-title
                | Экспресс перевод
              p Деловая переписка, справки и свидетельства


